@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,900;1,400&display=swap");
@import "base/colours";
@import "pages/input";
@import "pages/dashboard";

* {
  // padding: 0;
  // margin: 0;
  font-size: 0.625rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.check {
  &-label {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

// h1 {
//   padding: 1rem;
//   font-size: 3.2rem;
// }
